#-------------------------------------------------------------------------------
# FCM Admin Configuration Example
#-------------------------------------------------------------------------------
# For detail, please refer to the Perl module:
# FCM::Admin::Config
#-------------------------------------------------------------------------------
