/**********************************************************************
 * (C) British Crown Copyright 2006-2012 Met Office.
 *
 * This file is part of FCM.
 *
 * FCM is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * FCM is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with FCM. If not, see <http://www.gnu.org/licenses/>.
 *
 **********************************************************************/

/**********************************************************************
 * CSS for FCM documents.
 *
 **********************************************************************/

/**********************************************************************
 * FOREGROUND COLOUR
 *
 **********************************************************************/
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:active,
a:hover {
    color: blue;
}

.sectionlink:link,
.sectionlink:visited {
    color: black;
}

code,
kbd,
var {
    color: navy;
}


/**********************************************************************
 * BACKGROUND COLOUR
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5,
code,
kbd,
pre,
samp,
.image {
    background: #eee;
}

.sectionlink:active,
.sectionlink:hover {
    background: #ddd;
}


/**********************************************************************
 * BORDER
 *
 **********************************************************************/
dl,
kbd,
pre,
samp,
.image {
    border: thin solid #ddd;
}


/**********************************************************************
 * FONT
 *
 **********************************************************************/
body {
    font-family: sans-serif;
}

code,
kbd,
samp,
var {
    font-family: monospace;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4,
h5 {
    font-size: medium;
}

address {
    font-size: small;
}

address,
var {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
dt {
    font-weight: bold;
}


/**********************************************************************
 * CLASSIFICATION
 *
 **********************************************************************/
#fcm-content ul li {
    list-style: none;
}

code,
kbd,
samp {
    white-space: nowrap;
}


/**********************************************************************
 * TEXT DECORATION
 *
 **********************************************************************/
a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: underline;
}


/**********************************************************************
 * TEXT ALIGNMENT
 *
 **********************************************************************/
h1 {
    text-align: center;
}

address {
    text-align: right;
}


/**********************************************************************
 * DISPLAY
 *
 **********************************************************************/
.sectionlink {
    display: none;
}

:hover > .sectionlink {
    display: inline;
}

/**********************************************************************
 * BORDER-RADIUS
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5,
dl,
pre,
.image {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}


/**********************************************************************
 * MARGIN
 *
 **********************************************************************/
#body-header {
    margin: 0;
}

img {
    margin: 0.25em;
}

dl,
dd {
    margin-bottom: 0.5em;
}

dl {
    margin-top: 0.5em;
}


/**********************************************************************
 * PADDING
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5 {
    padding: 0.4em;
}

dl,
li,
pre,
.image {
    padding: 0.2em;
}

code,
kbd,
samp,
var {
    padding-left: 0.2em;
    padding-right: 0.2em;
}


/**********************************************************************
 * POSITION
 *
 **********************************************************************/
#body-header address {
    float: right;
}
